@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap");


* {
  box-sizing: border-box;
}

html {
  direction: rtl; 
}

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  background-color: #ffffff;
  color: #111827; 
}


a {
  text-decoration: none;
  color: inherit;
}


img {
  max-width: 100%;
  display: block;
}


.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
